<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragmentos/cabecero :: cabecero-seccion(titulo='Agregar contacto')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragmentos/navegacion :: navegacion-seccion}" th:remove="tag"></div>
<!-- Titulo -->
    <div class="container">
        <div class="container-fluid text-center" style="margin: 30px;">
            <h3>Agregar contacto</h3>
        </div>
    </div>

<!-- Formulario de registrar contacto -->

    <div class="container">
        <div class="container ">
            <form>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="mb-3">
                  <label for="celular" class="form-label">Celular</label>
                  <input type="text" class="form-control" id="celular" name="celular">
                </div> 
                <div class="mb-3">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary me-3">Agregar</button>
                    <a href="/" class="btn btn-danger">Regresar</a>
                </div>
            </form>
        </div>
    </div>

    <div th:insert="~{fragmentos/pie-pagina :: pie-pagina-seccion}" th:remove="tag"></div>
</body>
</html>