<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Inicio')}">
</head>
<body>

  <div th:insert="~{fragmentos/navegacion :: navegacion-seccion}" th:remove="tag"></div>

        <!-- Titulo -->
  <div class="container">
    <div class="text-center" style="margin: 30px;">
      <h3>Sistema de contactos</h3>
    </div>
  </div>

  <!-- La tabla -->
    <div>
        <table class="table table-bordered table-hover align-middle  table-striped">
            <thead class="table-dark text-center">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Numero</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="contacto: ${contactos}">
                <th th:text="${contacto.id}" scope="row">1</th>
                <td th:text="${contacto.nombre}">Usuario 1</td>
                <td th:text="${contacto.celular}">000000000</td>
                <td th:text="${contacto.email}">prueba@gmail.com</td>
                <td>
                  <div class="container text-center">
                    <a th:href="@{/editar/{id}(id=${contacto.id})}" type="button" class="btn btn-outline-info text-center me-3">Editar</a>
                    <a th:href="@{/eliminar/{id}(id=${contacto.id})}" type="button" class="btn btn-outline-danger text-center">Eliminar</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div th:insert="~{fragmentos/pie-pagina :: pie-pagina-seccion}" th:remove="tag"></div>
</body>
</html>